<div class="flex flex-col gap-4">
  <div>
    <h3 class="text-xs font-normal tracking-widest text-muted-foreground">MENU PRINCIPAL</h3>
    <z-divider />
  </div>

  <ul class="flex flex-col gap-1">
    @for (menu of listaMenus; track menu.titulo) {
      <li>
        <a
          [routerLink]="menu.url"
          routerLinkActive="bg-muted text-foreground"
          class="flex items-center gap-3 rounded-md px-3 py-2 text-md text-muted-foreground transition-colors hover:bg-muted hover:text-foreground"
        >
          <i z-icon [zType]="menu.icone" zSize="xl" class="shrink-0"></i>

          <span>{{ menu.titulo }}</span>
        </a>
      </li>
    }
    <button
      type="button"
      (click)="logout()"
      class="mt-2 flex w-full items-center gap-3 rounded-md px-3 py-2 text-md font-medium text-destructive transition-all duration-200 hover:bg-red-50 active:bg-red-100"
    >
      <i z-icon zType="log-out" zSize="xl" class="shrink-0 text-red-500"></i>
      <span>Sair</span>
    </button>
  </ul>
</div>
